@import-normalize; 
:root {
--accentColor: #7B61FF;
--highColor: #FF2B77;
--mediumColor: #E2A300;
--lowColor: #6BD475;
--textColor: #3F3F3F;
--dividerColor: #ACA7C3;
--headerBgdColor: #FEFCFF;
--bgdColor: #FFFFFF;
--titleColor: #1C1B1F;
--btnHover: #6243FF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Poppins', 'Alata', 'Inter',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%; 
  height: auto; 
}